/* 1. Global Style.
2. Components
4. Header
5. News
6. Gallery
7. Contact
8. Footer 
9. Media query
*/

/* 1. GLOBAL STYLE */

.body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.nav__list {
    list-style: none;
}

.nav__link {
    text-decoration: none;
}

.news__picture,
.gallery__picture {
    width: 100%;
    height: 100%;
}

.gallery__list {
    list-style: none;
}

/* 2. COMPONENTS */

.news__btn,
.contact__btn {
    color: #4EA7FF;
    background: transparent;
    border: 2px solid #4EA7FF;
    border-radius: 3rem;
    padding: 0.7rem 2rem;
    margin: 0 1rem 1rem 0;
    width: 10rem;
    align-self: flex-end;
}

.news__btn:hover,
.contact__btn:hover {
    background-color: #4EA7FF;
    color: #fff;
    transition: 1s ease;
}

/* 3. HEADER */

.header {
    background: url("/test-project/img/tm-1800x600-01.jpg") no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff;
}

.header__nav {
    width: 100%;
    background-color: rgba(55, 58, 60, .2);
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.nav__item {
    padding: 0.3em 0;
    font-size: 1.2rem;
}

.nav__link--modifer:visited,
nav__link--modifer:link {
    color: #fff;
}

.nav__link--modifer {
    color: #fff;
    transition: color, 1s ease;
}

.nav__link--modifer:hover {
    color: #0275d8;
}

.main-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 0.5em;
}

.main-header__logo {
    width: 7em;
}

.main-header__header {
    margin: 0.3rem;
}

.main-header__text {
    font-size: 1.2em;
    margin: 0.7rem;
}

.main-header__btn {
    border: 2px solid #fff;
    border-radius: 3.3rem;
    background: transparent;
    color: #fff;
    padding: 0.9rem 4rem;
    margin: 1rem;
}

.main-header__btn--hover:hover {
    background-color: #fff;
    color: #000;
    transition: 1s ease;
}

/* 4. NEWS */

.news {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.news__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 1rem 0.5rem;
}

.news__item {
    text-align: left;
    color: #666;
    display: flex;
    flex-direction: column;
}

.news__header {
    font-size: 2rem;
}

.news__text {
    font-size: 1.1rem;
    line-height: 2;
}

/* 5. GALLERY */

.gallery {
    text-align: center;
}

.gallery__header {
    color: #006699;
}

galler__text {
    color: #666;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.gallery__item {
    flex: 1 1 50%;
}

.gallery__picture--shadow:hover {
    transform: scale(1);
    box-shadow: 3px 3px 5px 6px #000;
}

/* 6. CONCACT */

.contact {
    background-color: #F4F4F4;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-main__header {
    font-size: 2rem;
    color: #006699;
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form--division .contact__input {
    width: 100%;
}

.contact__input {
    height: 3rem;
    margin: 1rem 0.5rem;
    border: none;
    text-indent: 1rem;
}

.contact__message {
    height: 10rem;
}

.contact__text-conteiner {
    padding-left: 1rem !important;
}

.contact__header {
    color: #4EA7FF;
}

.contact-text-conteiner {
    color: #666;
}

/* 7. Footer */

.footer-copyright {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*  8. Media query */

@media all and (min-width: 768px) {
    .nav__list {
        flex-flow: row;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(55, 58, 60, .2);
        height: 4rem;
        margin: 0;
        padding: 0;
    }
    .news {
        padding: 1rem 2rem;
    }
    .main-header {
        padding-top: 8rem;
    }
    .main-header__logo {
        width: 10em;
    }
    .main-header__header {
        padding: 2rem;
        font-size: 3rem;
    }
    .main-header__text {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .main-header__btn {
        font-size: 1.5rem;
    }
    .news__container {
        flex-direction: row;
    }
    .news__item {
        flex: 0 1 50%;
    }
    .news__header,
    .news__text {
        padding-left: 2rem;
    }
    .gallery {
        margin: 0 3rem;
    }
    .gallery__header {
        font-size: 2rem;
    }
    .gallery__text {
        font-size: 1.2rem;
        padding: 1rem;
    }
    .gallery__item {
        flex: 0 1 25%;
    }
    .fullscreen-container {
        display: flex;
        flex-direction: row;
    }
    .contact {
        padding: 0.5rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-end;
    }
    .contact-main__header {
        width: 100%;
        font-size: 2.2rem;
    }
    .contact__form {
        flex: 2 1;
    }
    .contact-text-conteiner {
        flex: 1 1;
    }
    .contact__header {
        font-size: 1.7rem;
    }
    .contact__text {
        font-size: 1.2rem;
    }
    .contact__form--division {
        display: flex;
    }
    .contact__form--division .contact__input {
        flex: 1;
    }
}

@media all and (min-width: 1224px) {
    .news__btn,
.contact__btn {
    font-size: 1.2rem;
}
    .main-header {
        padding: 8rem;
    }
    .nav__item:first-child {
        padding-left: 15rem;
    }
    .nav__item:last-child {
        padding-right: 15rem;
    }
    .nav__link {
        font-size: 1.5rem;
    }
    .news {
        padding: 3rem 12rem;
    }
}